<form asp-action="salvar">
    <label class="form-label"> Nome </label>
    <input type="text" name="nome" class="form-control" />

    <label class="form-label"> CPF </label>
    <input type="text" name="cpf" class="form-control" />

    <label class="form-label"> Endereço </label>
    <input type="text" name="endereco" class="form-control" />

    <label class="form-label"> Telefone </label>
    <input type="text" name="telefone" class="form-control" />

    <label class="form-label"> Pretenção Salarial </label>
    <input type="text" name="pretencaoSalarial" class="form-control" />
    
    <label class="form-label"> Cargo Pretendido </label>
    <input type="text" name="cargoPretendido" class="form-control" />

    <label class="form-label"> Instituição de Formação </label>
    <input type="text" name="instituicaoFormacao1" class="form-control" />
    
    <label class="form-label"> Tipo de Formação </label>
    <input type="text" name="tipoFormacao1" class="form-control" />
    
    <label class="form-label"> Formação </label>
    <input type="text" name="formacao1" class="form-control" />
    
    <label class="form-label"> Instituição de Formação </label>
    <input type="text" name="instituicaoFormacao2" class="form-control" />
    
    <label class="form-label"> Tipo de Formação </label>
    <input type="text" name="tipoFormacao2" class="form-control" />
    
    <label class="form-label"> Formação </label>
    <input type="text" name="formacao2" class="form-control" />
    
    <label class="form-label"> Instituição de Formação </label>
    <input type="text" name="instituicaoFormacao3" class="form-control" />
    
    <label class="form-label"> Tipo de Formação </label>
    <input type="text" name="tipoFormacao3" class="form-control" />
    
    <label class="form-label"> Formação </label>
    <input type="text" name="formacao3" class="form-control" />

    <label class="form-label"> Instituição de Formação </label>
    <input type="text" name="instituicaoFormacao4" class="form-control" />
    
    <label class="form-label"> Tipo de Formação </label>
    <input type="text" name="tipoFormacao4" class="form-control" />
    
    <label class="form-label"> Formação </label>
    <input type="text" name="formacao4" class="form-control" />

    <label class="form-label"> Instituição de Formação </label>
    <input type="text" name="instituicaoFormacao5" class="form-control" />
    
    <label class="form-label"> Tipo de Formação </label>
    <input type="text" name="tipoFormacao5" class="form-control" />
    
    <label class="form-label"> Formação </label>
    <input type="text" name="formacao5" class="form-control" />

    <label class="form-label"> Empresa Experiência </label>
    <input type="text" name="empresaExperiencia1" class="form-control" />

    <label class="form-label"> Tipo de Experiência </label>
    <input type="text" name="tipoExperiencia1" class="form-control" />

    <label class="form-label"> Experência </label>
    <input type="text" name="experiencia1" class="form-control" />

    <label class="form-label"> Empresa Experiência </label>
    <input type="text" name="empresaExperiencia2" class="form-control" />

    <label class="form-label"> Tipo de Experiência </label>
    <input type="text" name="tipoExperiencia2" class="form-control" />

    <label class="form-label"> Experência </label>
    <input type="text" name="experiencia2" class="form-control" />

    <label class="form-label"> Empresa Experiência </label>
    <input type="text" name="empresaExperiencia3" class="form-control" />

    <label class="form-label"> Tipo de Experiência </label>
    <input type="text" name="tipoExperiencia3" class="form-control" />

    <label class="form-label"> Experência </label>
    <input type="text" name="experiencia3" class="form-control" />
    
    <label class="form-label"> Idioma </label>
    <input type="text" name="idioma1" class="form-control" />
    
    <label class="form-label"> Nível </label>
    <input type="text" name="nivelIdioma1" class="form-control" />
    
    <label class="form-label"> Idioma </label>
    <input type="text" name="idioma2" class="form-control" />
    
    <label class="form-label"> Nível </label>
    <input type="text" name="nivelIdioma2" class="form-control" />
    
    <label class="form-label"> Idioma </label>
    <input type="text" name="idioma3" class="form-control" />
    
    <label class="form-label"> Nível </label>
    <input type="text" name="nivelIdioma3" class="form-control" />
    
    <br />
    <input type="submit" value="Salvar" class="btn btn-info" />
    &nbsp;&nbsp;&nbsp;
    <a href="/curriculo/index" class="btn btn-success">Voltar</a>

</form>
