@model List<CurriculoViewModel>;

<h2>Listagem de Currículos</h2>
<br />

<a href="/curriculo/create" class="btn btn-success">Novo Registro</a>
<br />
<br />

<table class="table table-striped table-responsive">
    <tr>
        <th>Ações</th>
        <th>Nome</th>
        <th>CPF</th>
    </tr>

    @foreach (var curriculo in Model)
    {
        <tr>
            <td><a href="/curriculo/Edit?cpf=@curriculo.cpf">Editar</a> </td>
            <td> @curriculo.nome</td>
            <td> @curriculo.cpf</td>
        </tr>
    }

</table>




